USE [LBD_Biblioteca]
GO
ALTER TABLE [dbo].[Trabajador] DROP CONSTRAINT [MayorT]
GO
ALTER TABLE [dbo].[Alumno] DROP CONSTRAINT [EdadAdolescentes]
GO
ALTER TABLE [dbo].[UsExterno] DROP CONSTRAINT [Re_usexterno_dom]
GO
ALTER TABLE [dbo].[Trabajador] DROP CONSTRAINT [Re_tra_dom]
GO
ALTER TABLE [dbo].[TipoUsuario] DROP CONSTRAINT [Re_tipus_usexterno]
GO
ALTER TABLE [dbo].[TipoUsuario] DROP CONSTRAINT [Re_tipus_alumno]
GO
ALTER TABLE [dbo].[Libro] DROP CONSTRAINT [Re_libro_genero]
GO
ALTER TABLE [dbo].[Carrera] DROP CONSTRAINT [Re_carrera_alum]
GO
ALTER TABLE [dbo].[Alumno] DROP CONSTRAINT [Re_alumn_carrera]
GO
ALTER TABLE [dbo].[Alumno] DROP CONSTRAINT [Re_alum_dom]
GO
ALTER TABLE [dbo].[Almacen] DROP CONSTRAINT [Re_almacen_prest]
GO
ALTER TABLE [dbo].[Almacen] DROP CONSTRAINT [Re_almacen_libro]
GO
ALTER TABLE [dbo].[Alumno] DROP CONSTRAINT [DF_Alumno_vFacultad]
GO
/****** Object:  View [dbo].[Vista_USE]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP VIEW [dbo].[Vista_USE]
GO
/****** Object:  View [dbo].[Vista_Trabajador]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP VIEW [dbo].[Vista_Trabajador]
GO
/****** Object:  View [dbo].[Vista_Libro]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP VIEW [dbo].[Vista_Libro]
GO
/****** Object:  View [dbo].[Vista_Domi]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP VIEW [dbo].[Vista_Domi]
GO
/****** Object:  View [dbo].[vista_alumno]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP VIEW [dbo].[vista_alumno]
GO
/****** Object:  Table [dbo].[UsExterno]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[UsExterno]
GO
/****** Object:  Table [dbo].[Trabajador]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[Trabajador]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[TipoUsuario]
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[Prestamo]
GO
/****** Object:  Table [dbo].[OrdenRegreso]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[OrdenRegreso]
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[OrdenCompra]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[Libro]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[Genero]
GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[Domicilio]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[Carrera]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[Alumno]
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP TABLE [dbo].[Almacen]
GO
USE [master]
GO
/****** Object:  Database [LBD_Biblioteca]    Script Date: 11/5/2019 11:11:22 PM ******/
DROP DATABASE [LBD_Biblioteca]
GO
/****** Object:  Database [LBD_Biblioteca]    Script Date: 11/5/2019 11:11:22 PM ******/
CREATE DATABASE [LBD_Biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBD_Biblioteca', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LBD_Biblioteca.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBD_Biblioteca_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LBD_Biblioteca_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBD_Biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBD_Biblioteca]
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Almacen](
	[iIdAlmacen] [int] NOT NULL,
	[iIdLibro] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[vPasillo] [varchar](10) NOT NULL,
	[vEstante] [varchar](10) NOT NULL,
	[dFechadeRevision] [date] NOT NULL,
	[iIdOrdenPrestamo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdAlmacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[iMatricula] [int] NOT NULL,
	[vNombre] [varchar](35) NOT NULL,
	[vApellidoPat] [varchar](35) NOT NULL,
	[vApellidoMat] [varchar](35) NOT NULL,
	[iIdCarrera] [int] NOT NULL,
	[iIdDomicilio] [int] NOT NULL,
	[dFechaNacimiento] [date] NOT NULL,
	[vNombreComp]  AS ((((([vNombre]+'')+[vApellidoPat])+'')+[vApellidoMat])+''),
	[vFacultad] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[iMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carrera](
	[iIdCarrera] [int] NOT NULL,
	[vNomCarrera] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Domicilio](
	[iIdDomicilio] [int] NOT NULL,
	[vCalle] [varchar](35) NOT NULL,
	[iNumero] [int] NOT NULL,
	[vColonia] [varchar](35) NOT NULL,
	[vCiudad] [varchar](35) NOT NULL,
	[vEstado] [varchar](35) NOT NULL,
	[iCodigoPostal] [int] NOT NULL,
	[vPais] [varchar](35) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdDomicilio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Genero](
	[iIdGenero] [int] NOT NULL,
	[vTipo] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libro](
	[iIdLibro] [int] NOT NULL,
	[vNomLib] [varchar](50) NOT NULL,
	[vAutor] [varchar](60) NOT NULL,
	[vEditorial] [varchar](50) NOT NULL,
	[Genero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrdenCompra](
	[iIdOrdenCompra] [int] NOT NULL,
	[vProveedor] [varchar](40) NOT NULL,
	[vEditorial] [varchar](40) NOT NULL,
	[iCantidad] [int] NOT NULL,
	[vNombreLibro] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdOrdenCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrdenRegreso]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenRegreso](
	[iIdRegreso] [int] NOT NULL,
	[iIdPrestamo] [int] NOT NULL,
	[dFechaRegreso] [date] NOT NULL,
	[Regreso] [bit] NULL,
	[Cobro] [smallmoney] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdRegreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[iIdPrestamo] [int] NOT NULL,
	[iIdAlumno] [int] NOT NULL,
	[iIdTipoUsuario] [int] NOT NULL,
	[iIdAlmacen] [int] NOT NULL,
	[iIdTrabajador] [int] NOT NULL,
	[dFechaSalida] [date] NOT NULL,
	[dFechaEntrega] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[iIdTipoUsuario] [int] NOT NULL,
	[iUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trabajador]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trabajador](
	[iIdTrabajador] [int] NOT NULL,
	[vNombre] [varchar](35) NOT NULL,
	[vApellidoPat] [varchar](35) NOT NULL,
	[vApellidoMat] [varchar](35) NOT NULL,
	[iId] [int] NOT NULL,
	[dFechaingreso] [date] NOT NULL,
	[iTelefono] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdTrabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsExterno]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsExterno](
	[iIdUsExtero] [int] NOT NULL,
	[vNombre] [varchar](35) NOT NULL,
	[vApellidoPat] [varchar](35) NOT NULL,
	[vApellidoMat] [varchar](35) NOT NULL,
	[vOcupacion] [varchar](50) NOT NULL,
	[iIdDomicilio] [int] NOT NULL,
	[vNombreComp]  AS ((((([vNombre]+'')+[vApellidoPat])+'')+[vApellidoMat])+''),
	[iTelefono] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdUsExtero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vista_alumno]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_alumno]
AS
SELECT iMatricula, vNombre, iIdCarrera
FROM Alumno
GO
/****** Object:  View [dbo].[Vista_Domi]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Domi] AS
SELECT iIdDomicilio, vColonia, vCiudad
FROM Domicilio  

GO
/****** Object:  View [dbo].[Vista_Libro]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Libro] AS
SELECT iIdLibro, vNomLib, vAutor
FROM Libro  

GO
/****** Object:  View [dbo].[Vista_Trabajador]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Trabajador] AS
SELECT iIdTrabajador, vNombre, dFechaingreso, iId
FROM Trabajador  

GO
/****** Object:  View [dbo].[Vista_USE]    Script Date: 11/5/2019 11:11:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_USE] AS
SELECT iIdUsExtero, vNombreComp
FROM UsExterno  

GO
INSERT [dbo].[Alumno] ([iMatricula], [vNombre], [vApellidoPat], [vApellidoMat], [iIdCarrera], [iIdDomicilio], [dFechaNacimiento], [vFacultad]) VALUES (1, N'PAOLA', N'SALAZAR', N'RODRIGUEZ', 1, 1, CAST(0xE4240B00 AS Date), N'FCFM      ')
INSERT [dbo].[Alumno] ([iMatricula], [vNombre], [vApellidoPat], [vApellidoMat], [iIdCarrera], [iIdDomicilio], [dFechaNacimiento], [vFacultad]) VALUES (2, N'ANNY ABIGAIL', N'DE LA CRUZ', N'MARTINEZ', 6, 2, CAST(0x2F260B00 AS Date), N'FCFM      ')
INSERT [dbo].[Alumno] ([iMatricula], [vNombre], [vApellidoPat], [vApellidoMat], [iIdCarrera], [iIdDomicilio], [dFechaNacimiento], [vFacultad]) VALUES (3, N'GERARDO', N'SALAZAR', N'MARROQUIN', 5, 3, CAST(0x69250B00 AS Date), N'FCFM      ')
INSERT [dbo].[Carrera] ([iIdCarrera], [vNomCarrera]) VALUES (1, N'LA')
INSERT [dbo].[Carrera] ([iIdCarrera], [vNomCarrera]) VALUES (2, N'LCC')
INSERT [dbo].[Carrera] ([iIdCarrera], [vNomCarrera]) VALUES (3, N'LF')
INSERT [dbo].[Domicilio] ([iIdDomicilio], [vCalle], [iNumero], [vColonia], [vCiudad], [vEstado], [iCodigoPostal], [vPais]) VALUES (1, N'FRANCISCO I. MADERO', 120, N'LAS PALOMAS', N'MONTERREY', N'NUEVO LEON', 65230, N'MEXICO')
INSERT [dbo].[Domicilio] ([iIdDomicilio], [vCalle], [iNumero], [vColonia], [vCiudad], [vEstado], [iCodigoPostal], [vPais]) VALUES (2, N'RODOLFO GARZA MADERO', 120, N'LA CIENEGUILLA', N'MONTERREY', N'NUEVO LEON', 67320, N'MEXICO')
INSERT [dbo].[Domicilio] ([iIdDomicilio], [vCalle], [iNumero], [vColonia], [vCiudad], [vEstado], [iCodigoPostal], [vPais]) VALUES (3, N'BENITO JUAREZ', 120, N'EL CERCADO', N'MONTERREY', N'NUEVO LEON', 67320, N'MEXICO')
INSERT [dbo].[Genero] ([iIdGenero], [vTipo]) VALUES (1, N'Arte')
INSERT [dbo].[Genero] ([iIdGenero], [vTipo]) VALUES (2, N'Ciencia')
INSERT [dbo].[Genero] ([iIdGenero], [vTipo]) VALUES (3, N'Ficcion')
INSERT [dbo].[Libro] ([iIdLibro], [vNomLib], [vAutor], [vEditorial], [Genero]) VALUES (1, N'Sinsajo', N'Collins Suzanne', N'RBA/Libros', 3)
INSERT [dbo].[Libro] ([iIdLibro], [vNomLib], [vAutor], [vEditorial], [Genero]) VALUES (2, N'El transito terreno', N'Plasencia Juan Luis', N'Larrosa Mas, S.L.', 4)
INSERT [dbo].[Libro] ([iIdLibro], [vNomLib], [vAutor], [vEditorial], [Genero]) VALUES (3, N'Sistema Operativo', N'Bazillan Eric', N'GGG & G', 10)
INSERT [dbo].[Trabajador] ([iIdTrabajador], [vNombre], [vApellidoPat], [vApellidoMat], [iId], [dFechaingreso], [iTelefono]) VALUES (1, N'MIRANDA', N'PALOMARES', N'SALAZAR', 1, CAST(0xA01C0B00 AS Date), 8187023690)
INSERT [dbo].[Trabajador] ([iIdTrabajador], [vNombre], [vApellidoPat], [vApellidoMat], [iId], [dFechaingreso], [iTelefono]) VALUES (2, N'SOFIA', N'ROCHA', N'SALAZAR', 2, CAST(0x5A230B00 AS Date), 8188552221)
INSERT [dbo].[Trabajador] ([iIdTrabajador], [vNombre], [vApellidoPat], [vApellidoMat], [iId], [dFechaingreso], [iTelefono]) VALUES (3, N'MIGUEL ALEJANDRO', N'LEAL', N'LEAL', 3, CAST(0x361D0B00 AS Date), 8181106239)
INSERT [dbo].[UsExterno] ([iIdUsExtero], [vNombre], [vApellidoPat], [vApellidoMat], [vOcupacion], [iIdDomicilio], [iTelefono]) VALUES (1, N'ADDISON', N'ALANIS', N'RODRIGUEZ', N'VENDEDOR', 14, 8114253665)
INSERT [dbo].[UsExterno] ([iIdUsExtero], [vNombre], [vApellidoPat], [vApellidoMat], [vOcupacion], [iIdDomicilio], [iTelefono]) VALUES (2, N'MARCELA', N'REYNA', N'PEREZ', N'ESTUDIANTE', 22, 8112114115)
INSERT [dbo].[UsExterno] ([iIdUsExtero], [vNombre], [vApellidoPat], [vApellidoMat], [vOcupacion], [iIdDomicilio], [iTelefono]) VALUES (3, N'JIMENA', N'RUIZ', N'GONZALEZ', N'EMPLEADO', 1, 8182365984)
ALTER TABLE [dbo].[Alumno] ADD  CONSTRAINT [DF_Alumno_vFacultad]  DEFAULT (N'(FCFM)') FOR [vFacultad]
GO
ALTER TABLE [dbo].[Almacen]  WITH CHECK ADD  CONSTRAINT [Re_almacen_libro] FOREIGN KEY([iIdLibro])
REFERENCES [dbo].[Libro] ([iIdLibro])
GO
ALTER TABLE [dbo].[Almacen] CHECK CONSTRAINT [Re_almacen_libro]
GO
ALTER TABLE [dbo].[Almacen]  WITH CHECK ADD  CONSTRAINT [Re_almacen_prest] FOREIGN KEY([iIdOrdenPrestamo])
REFERENCES [dbo].[Prestamo] ([iIdPrestamo])
GO
ALTER TABLE [dbo].[Almacen] CHECK CONSTRAINT [Re_almacen_prest]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [Re_alum_dom] FOREIGN KEY([iIdDomicilio])
REFERENCES [dbo].[Domicilio] ([iIdDomicilio])
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [Re_alum_dom]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [Re_alumn_carrera] FOREIGN KEY([iIdCarrera])
REFERENCES [dbo].[Carrera] ([iIdCarrera])
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [Re_alumn_carrera]
GO
ALTER TABLE [dbo].[Carrera]  WITH CHECK ADD  CONSTRAINT [Re_carrera_alum] FOREIGN KEY([iIdCarrera])
REFERENCES [dbo].[Carrera] ([iIdCarrera])
GO
ALTER TABLE [dbo].[Carrera] CHECK CONSTRAINT [Re_carrera_alum]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [Re_libro_genero] FOREIGN KEY([Genero])
REFERENCES [dbo].[Genero] ([iIdGenero])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [Re_libro_genero]
GO
ALTER TABLE [dbo].[TipoUsuario]  WITH CHECK ADD  CONSTRAINT [Re_tipus_alumno] FOREIGN KEY([iUsuario])
REFERENCES [dbo].[Alumno] ([iMatricula])
GO
ALTER TABLE [dbo].[TipoUsuario] CHECK CONSTRAINT [Re_tipus_alumno]
GO
ALTER TABLE [dbo].[TipoUsuario]  WITH CHECK ADD  CONSTRAINT [Re_tipus_usexterno] FOREIGN KEY([iUsuario])
REFERENCES [dbo].[UsExterno] ([iIdUsExtero])
GO
ALTER TABLE [dbo].[TipoUsuario] CHECK CONSTRAINT [Re_tipus_usexterno]
GO
ALTER TABLE [dbo].[Trabajador]  WITH CHECK ADD  CONSTRAINT [Re_tra_dom] FOREIGN KEY([iId])
REFERENCES [dbo].[Domicilio] ([iIdDomicilio])
GO
ALTER TABLE [dbo].[Trabajador] CHECK CONSTRAINT [Re_tra_dom]
GO
ALTER TABLE [dbo].[UsExterno]  WITH CHECK ADD  CONSTRAINT [Re_usexterno_dom] FOREIGN KEY([iIdDomicilio])
REFERENCES [dbo].[Domicilio] ([iIdDomicilio])
GO
ALTER TABLE [dbo].[UsExterno] CHECK CONSTRAINT [Re_usexterno_dom]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [EdadAdolescentes] CHECK  ((datediff(year,[dFechaNacimiento],getdate())>(15)))
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [EdadAdolescentes]
GO
ALTER TABLE [dbo].[Trabajador]  WITH CHECK ADD  CONSTRAINT [MayorT] CHECK  ((datediff(day,[dFechaingreso],getdate())>(55)))
GO
ALTER TABLE [dbo].[Trabajador] CHECK CONSTRAINT [MayorT]
GO
USE [master]
GO
