USE [Practica2]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 09/19/2019 18:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libros](
	[iIdLibro] [int] NOT NULL,
	[vNombreLib] [varchar](50) NOT NULL,
	[vAutor] [varchar](60) NOT NULL,
	[vEditorial] [varchar](50) NOT NULL,
	[vGenero] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Libros__D8A75E107F60ED59] PRIMARY KEY CLUSTERED 
(
	[iIdLibro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[Libros]([PK__Libros__D8A75E107F60ED59]) WITH STATS_STREAM = 0x01000000010000000000000000000000543B8F730000000040000000000000000000000000000000380300003800000004000A00000000000000000007000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 09/19/2019 18:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[iMatricula] [int] NOT NULL,
	[vNombre] [varchar](35) NOT NULL,
	[vApellido1] [varchar](50) NOT NULL,
	[vApellido2] [varchar](50) NOT NULL,
	[vFacultad] [varchar](70) NOT NULL,
	[vCarrera] [varchar](50) NOT NULL,
	[vNombreCompleto]  AS ((((([vNombre]+'')+[vApellido1])+'')+[vApellido2])+''),
 CONSTRAINT [PK__Alumno__9787D1D407020F21] PRIMARY KEY CLUSTERED 
(
	[iMatricula] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[Alumno]([INDX_Alumno_Carrera]) WITH STATS_STREAM = 0x010000000200000000000000000000002D9A5FEC0000000058000000000000000000000000000000A7030000A7000000320000000000000028D0000000000000380300003800000004000A000000000000000000F01FD315, ROWCOUNT = 0, PAGECOUNT = 0
GO
UPDATE STATISTICS [dbo].[Alumno]([PK__Alumno__9787D1D407020F21]) WITH STATS_STREAM = 0x01000000010000000000000000000000543B8F730000000040000000000000000000000000000000380300003800000004000A00000000000000000007000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Table [dbo].[Usexterno]    Script Date: 09/19/2019 18:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usexterno](
	[iIdUsexterno] [int] NOT NULL,
	[vNombre] [varchar](35) NOT NULL,
	[vApellido1] [varchar](50) NOT NULL,
	[vApellido2] [varchar](50) NOT NULL,
	[vOcupacion] [varchar](50) NOT NULL,
	[iNumero] [int] NOT NULL,
	[vNombreCompleto]  AS ((((([vNombre]+'')+[vApellido1])+'')+[vApellido2])+''),
 CONSTRAINT [PK__Usextern__187FD6130AD2A005] PRIMARY KEY CLUSTERED 
(
	[iIdUsexterno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [unique_id] UNIQUE NONCLUSTERED 
(
	[iIdUsexterno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[Usexterno]([PK__Usextern__187FD6130AD2A005]) WITH STATS_STREAM = 0x0100000001000000000000000000000036140C2A000000004000000000000000000000000000000038030A003800000004000A00000000000000000008018819, ROWCOUNT = 0, PAGECOUNT = 0
GO
UPDATE STATISTICS [dbo].[Usexterno]([unique_id]) WITH STATS_STREAM = 0x0100000001000000000000000000000036140C2A000000004000000000000000000000000000000038030A003800000004000A00000000000000000008018819, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Table [dbo].[Trabajador]    Script Date: 09/19/2019 18:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trabajador](
	[iIdTrabajador] [int] NOT NULL,
	[vNombre] [varchar](35) NOT NULL,
	[vApellidos] [varchar](100) NOT NULL,
	[dFechaingreso] [date] NOT NULL,
 CONSTRAINT [PK__Trabajad__0BF87B9503317E3D] PRIMARY KEY CLUSTERED 
(
	[iIdTrabajador] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[Trabajador]([PK__Trabajad__0BF87B9503317E3D]) WITH STATS_STREAM = 0x0100000001000000000000000000000036140C2A000000004000000000000000000000000000000038030A003800000004000A00000000000000000008018819, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 09/19/2019 18:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[iIdPrestamo] [int] NOT NULL,
	[iIdAlumno] [int] NOT NULL,
	[iIdLibro] [int] NOT NULL,
	[dFechSalida] [date] NOT NULL,
	[dFechEntrega] [date] NOT NULL,
 CONSTRAINT [PK__Prestamo__856B92A90EA330E9] PRIMARY KEY CLUSTERED 
(
	[iIdPrestamo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[Prestamo]([INDX_Prestamo_Libro]) WITH STATS_STREAM = 0x0100000002000000000000000000000058E1E57E0000000058000000000000000000000000000000380304003800000004000A00000000000000000061006700380373003800000004000A000000000000000000F01FD315, ROWCOUNT = 0, PAGECOUNT = 0
GO
UPDATE STATISTICS [dbo].[Prestamo]([PK__Prestamo__856B92A90EA330E9]) WITH STATS_STREAM = 0x01000000010000000000000000000000543B8F730000000040000000000000000000000000000000380300003800000004000A00000000000000000007000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Check [Mayodeaño]    Script Date: 09/19/2019 18:55:03 ******/
ALTER TABLE [dbo].[Trabajador]  WITH CHECK ADD  CONSTRAINT [Mayodeaño] CHECK  ((datediff(year,[dFechaingreso],getdate())>(1)))
GO
ALTER TABLE [dbo].[Trabajador] CHECK CONSTRAINT [Mayodeaño]
GO
/****** Object:  ForeignKey [Relation_prestamo_libros]    Script Date: 09/19/2019 18:55:03 ******/
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [Relation_prestamo_libros] FOREIGN KEY([iIdLibro])
REFERENCES [dbo].[Libros] ([iIdLibro])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [Relation_prestamo_libros]
GO
